[2022-01-05 21:16] Lucrezia-Cester opened #1 "Update content in Platforms > The Landscape page"
In the Miro design, under platforms is supposed to be a page called landscape where there is going to be an interactive diagram of various projects, each of which will be accessed by clicking on the image icon with which it will be represented. I will write down the lay out for this page.

[2022-01-11 15:03] tomaroberts opened #2 "Improve subnav bars functionality"
Currently, the code for the subnav bar(s) is spread across multiple html files. These are in the `_includes` folder:

[code]
This works, but seems a bit inefficient because it means defining and linking to the various pages through these files themselves. It would make more sense to have the subnav items defined in .yaml files in the `_data` folder, which is how the main navbar is coded in `naviga

[2022-01-11 15:08] tomaroberts opened #3 "Create _team-members directory"
Currently, the markdown files for each CSC team member are in the root directory. It would be much better to have these files in their own directory, to save on clutter in the root dir, especially as we grow in size!

Also, this would make for better URLs for each team member page, i.e.: `gstt-csc.github.io/team-member/lucy.html/` etc.

I started trying to tackle this, but didn't quite get it work

[2022-01-11 15:26] tomaroberts opened #4 "Improve page layout inheritance"
To maintain consistency and consequently a professional appearance, it is important to be quite strict about the layout rules of the site.

The files in the `_layout` folder determine how the layouts work across the different pages of the site. Some of the files inherit code from other files also in the folder. The inheritance can be followed by looking at the frontmatter at the top of the files,

[2022-01-11 15:33] tomaroberts opened #5 "ONGOING: clean references to Jekyll template"
The website was designed using another Jeykll site as a template. There is various code in the repo which is redundant. It would be good to remove this to prevent confusion and thin the code.

If you find any code which looks unnecessary and you're unsure about whether to remove it or not, feel free to post snippets under this issue.

[2022-01-11 15:43] tomaroberts opened #6 "Add favicon to site"
We don't have a favicon! Every site should have one :)

Some instructions on how to do it with Jekyll: https://ptc-it.de/add-favicon-to-mm-jekyll-site/

[2022-01-12 11:34] Lucrezia-Cester opened #8 "Create Policy > Builder page"
I am creating the layout for the policy and builder page (including SOPs, Guides pages etc.)

[2022-01-12 17:37] Lucrezia-Cester opened #10 "Add content to Handbook page"

[2022-01-13 13:51] tomaroberts commented on #10
Hi Lu, I think I'll tackle this one if that's okay. Have a few ideas for this.

[2022-01-13 13:56] tomaroberts commented on #8
I think we should change the subtitle for this page to something more intuitive than "Builder".

[2022-01-13 14:00] tomaroberts opened #11 "Create Policy > Buyer page"
Issue to track creation of the Buyer page on the website.

NB: we should change the title of this to something other than "Buyer". Not particularly intuitive.

[2022-01-13 14:03] tomaroberts commented on #1
Suggest changing page title from "The Landscape" to something else. Also, this is currently the only page under the Platforms tab. What else do we need?

[2022-01-13 14:06] tomaroberts opened #12 "Create People > Technology page"
Issue to track creation of Technology page.

[2022-01-13 14:07] tomaroberts opened #13 "Create People > Get Involved page"
Issue to track creation of Get Involved page.

[2022-01-13 14:32] tomaroberts opened #14 "Create People > HCS page"
Issue to track creation of HCS page.

Not entirely sure what the intention was for this page? Will need a new name if we decide to go ahead with it.

[2022-01-13 14:33] tomaroberts opened #15 "Create People > Evaluation page"
Issue to track creation of Evaluation page.

[2022-01-13 14:37] tomaroberts opened #16 "Update content in Projects Board"
Issue to track creation of Kanban Board page, i.e.: https://gstt-csc.github.io/work.html

Would suggest calling this "Current Projects" or simply "Projects" instead?

[2022-01-13 14:38] tomaroberts opened #17 "Create Our Work > Resources page"
Issue to track creation of Resources page, i.e.: https://gstt-csc.github.io/resources.html

Think this is a relatively simple one, so suggest including in initial Deployment.

[2022-01-13 14:46] tomaroberts opened #18 "Create Blog > Articles page"
Issue to track creation of Blog Articles page.

NB: currently on the Miro board we only have a "Workshops" tab under this heading. Suggest we have both Blog>Articles and Blog>Workshops pages.

Can port across the old blog entried from here: https://gstt-csc.github.io/blog.html

Suggest having a more traditional blog type page, rather than a markdown table of links, i.e.: more like the posts layout

[2022-01-13 14:47] tomaroberts opened #19 "Create Blog > Workshops page"
Issue to track creation of Workshops page.

NB: currently on the Miro board we only have a "Workshops" tab under this heading. Suggest we have both Blog>Articles and Blog>Workshops pages.

[2022-01-13 14:52] tomaroberts opened #20 "Write Team Member bio pages"
We all need to write our Team Member bio entries, such as Lucy's: `lucy.html`

**To do list:**
- [x] Haris
- [x] Dika
- [x] Lucy
- [x] Simone
- [x] Laurence
- [x] Anil
- [x] Alex
- [x] Lu
- [x] Tom
- [x] Haleema
- [ ] Kavitha

[2022-01-13 15:03] tomaroberts opened #21 "Create Roadmap page & section on homepage"
Issue to track the creation of the Roadmap page.

Currently, this is only located on the front page. I suggest we have a dedicated Roadmap page (under About Us or Work?) which has the full Roadmap. Then, we can have an abridged version on the front page, which has the major points.

Within the site structure, we can have a `_data/roadmap.yml` which contains ALL the Roadmap content, then cherry-pic

[2022-01-13 15:07] tomaroberts opened #22 "Refine home page opening section"
Issue to track top of front page.

Todo:
- [ ] Finalise graphic sizing
- [ ] Decide on CSC title location/size/font/general look
- [x] Finalise slogan
- [ ] ~~150 words snappy introductory paragraph about CSC~~

[2022-01-13 15:08] tomaroberts opened #23 "Create Twitter feed on home page"
Miro board has a Twitter Link section on the front page. Issue to track this.

[2022-01-13 15:09] tomaroberts opened #24 "Create Key KPIs section on home page"
Issue to track Key KPIs section on home page

[2022-01-13 15:11] tomaroberts opened #25 "Create Collaborators section on home page"
Issue to track creation of Collaborators section on home page.

This should be logos and links to bodies like: GSTT, AI Centre, Nvidia, Answer Digital, etc.

[2022-01-14 11:29] tomaroberts opened #26 "Build issue with Jekyll theme specified in _config.yml"
There is a small annoyance regarding specifying the Jekyll theme in the _config.yml, which I think is related to the csc-test-site repo not being in the default GitHub location (gstt-csc.github.io), which is where it will be once live.

Bit more explanation...

I started the new website based on the _Agency_ theme, which is not one of GitHub Pages official ones. In the Agency _config.yml the theme

[2022-01-17 15:31] hshuaib90 commented on #26
My theme is set to Jekyll-agency and I still can't bundle install .

[2022-01-17 16:24] tomaroberts commented on #26
@hshuaib90

Can you try removing `theme: jekyll-agency` and replace with `remote_theme: raviriley/agency-jekyll-theme` instead?

[2022-01-17 18:05] hshuaib90 commented on #26
Do I need to change the .gemspec ?

[2022-02-01 11:36] Lucrezia-Cester commented on #26
Hi @hshuaib90, could you please attach a screenshot of the error you get when trying to bundle install  after you change the theme?

[2022-02-08 11:46] AnilMistry commented on #26
@hshuaib90 I was able to get the website up and running. I use these commands each time I spin up the website on the local host, it may help solve your issue. (I'm not going to pretend I fully know what it does!)

cd Documents/GitHub/gstt-csc.github.io
rbenv global 3.0.1
env | grep PATH
rbenv global 3.0.1
export PATH="$HOME/.rbenv/bin:$PATH"
eval "$(rbenv init -)"
bundle install
bundle exec jekyll

[2022-02-08 12:14] AnilMistry commented on #26
The install worked for me. I only needed to edit the _config.yml as above.

[2022-02-08 12:21] tomaroberts commented on #26
Most of those commands are just to do with setting up your ruby environment by looks of it. Specifically looks like you are using ruby 3.0.1. The installation instructions I created install ruby using brew (package manager on MacOS).

Btw – you can run `bundle exec jekyll serve --livereload` if you want to see your website edits updated live. Note, if you make edits to the _config.yml, you'll need

[2022-02-08 15:06] AnilMistry commented on #20
@tomaroberts Apologies, I forgot to create a new branch so my commit for updating my bio has automatically merged with the Main branch. I can role this back if required.

[2022-02-17 11:18] tomaroberts commented on #10
Essential part of site, but not a requirement for MVP so going to remove Deployment Requirement tag. Will prioritise further down line.

[2022-02-25 15:04] AnilMistry commented on #18
@tomaroberts

Thanks for link, really useful. I'll base the structure around that.

The blogs will be written in .md format so we can use liquid {content} to fill the templates. The README suggested these .md files should be stored in the home directory, but this could get messy. Shall i create a separate directory off main (eg /blogs/)  to containing the actual blogs content?

[2022-02-28 12:12] tomaroberts commented on #18
Yeah, a /blogs/ folder would be great. I intend to have a similar folder structure for the team members page as currently they are all piling up in the root directory as well.

[2022-03-01 17:39] dangerdika commented on #20
@GSTT-CSC/core I think this is quite hard to write for all, maybe we need some instruction on what should be in there?
Bio: describe professional journey only? Or put in general bio of where we studied and what jobs we've had? Or should we add things like hobbies or something to add a flare for who we are, or do we not do that? Do we add what we're hoping to develop, e.g. 'specific interest in pro

[2022-03-01 17:49] dangerdika commented on #21
@lucy-funnell and will finalise the content and i'll get onto implementing it ASAP

[2022-03-01 18:17] lucy-funnell commented on #20
Hi Dika,
Good points,
I kept it quite short and sweet, I didn't want it to become like 'This is your life' a program from the 90's as it just a little introduction to each of us.
Bio: I suggested keeping the background to 50-60words about our current care path,studies, jobs but keeping it relevant (no one cares about GCSE's anymore right?). I like to idea of adding what we are hoping to develop.
C

[2022-03-01 18:26] lucy-funnell commented on #21
@dangerdika I have emailed you the template I started, feel free to make edits/changes or start from scratch
Let me know if I can provide any other details, more than happy to help build on this timeline further.

[2022-03-01 20:12] hshuaib90 commented on #20
I typically use something like the below. It's pretty straightforward. I think that's an easy starting point for the first iteration.

[2022-03-07 12:11] tomaroberts commented on #20
Yep, I like Haris's bio – think that is a good style to go with.

[2022-03-14 15:20] #18 closed, assigned to AnilMistry

[2022-03-14 16:02] tomaroberts commented on #16
Following on from Wed Workshop on 9th March, we decided that each Project will have a designated card similar to the cards used on the Blog page. Suggest you can copy and adapt some of the code Anil created.

[2022-03-14 16:08] tomaroberts opened #32 "Add new content to People section"
Following Wed Workshop on 9th March, we pinned down the contents for the People section of the site. We decided we would have the following three subpages:

- **STP Scheme**
  - Details of training we provide [MVP for site launch]
  - Reference training that previous STPs have completed
  - Quotes from former STPs
  - Photos of alumni?
- **Clinical AI Fellowships**
  - @hshuaib90 said he would do

[2022-03-14 16:08] tomaroberts commented on #15
Superseded by #32

[2022-03-14 16:08] #15 closed, assigned to nobody

[2022-03-14 16:09] tomaroberts commented on #14
Superseded by #32

[2022-03-14 16:09] #14 closed, assigned to nobody

[2022-03-14 16:09] tomaroberts commented on #13
Superseded by #32

[2022-03-14 16:09] #13 closed, assigned to nobody

[2022-03-14 16:09] tomaroberts commented on #12
Superseded by #32

[2022-03-14 16:09] #12 closed, assigned to nobody

[2022-03-14 16:13] tomaroberts opened #33 "Create Policy section"
Following Wed Workshop on 9th March, we discussed contents for Policy section. Decided upon two subheadings:

- Build Software
- Buy Software

Think we said we would effectively translate some of the material on the Shared Drive into these pages? Think you had a better idea of this than me @AnilMistry?

[2022-03-14 16:14] tomaroberts commented on #11
Superseded by #33

[2022-03-14 16:14] #11 closed, assigned to nobody

[2022-03-14 16:14] tomaroberts commented on #8
Superseded by #33

[2022-03-14 16:14] #8 closed, assigned to Lucrezia-Cester

[2022-03-14 16:17] tomaroberts opened #34 "Add underline to hyperlink of current page"
Currently, not necessarily clear which subnav page you are on – request from Wed Workshop on 9th March to add underline to hyperlinks related to currently viewed page.

[2022-03-18 17:13] #3 closed, assigned to tomaroberts

[2022-03-21 10:59] AnilMistry opened #37 "Add trainee on-boarding section"
This is a section for trainees/guests to consult before joining us so they know about our structure, working practcies and schedules, and what on boarding would look like for them.

It could also contain a link to the onboarding questionnaire where they can tell us about thier programming skills, aims, interests etc

- meet face to face
- local tour
- arrange 1-2-1s with team
- invite to meetings

[2022-03-22 16:12] AnilMistry opened #38 "Refactor Blogs into directories"
Add directories for blogs ( articles and workshops) to tidy things up.

Also resolve formatting issues for blog cards.

[2022-03-23 09:25] AnilMistry opened #40 "CSC logo should hyperlink back to homepage"
On each page the CSC logo should link back to the homepage, as theres no other way to get back there through the Nav bars.

[2022-04-03 16:21] hshuaib90 commented on #26
@tomaroberts  Changing to `remote_theme: raviriley/agency-jekyll-theme` or doing the commands that @AnilMistry recommended didn't work either. I'm going to see if nuking my Ruby set up might work.

[2022-05-06 14:46] #38 closed, assigned to AnilMistry

[2022-05-09 12:58] tomaroberts commented on #19
Resolved by #39

[2022-05-09 12:58] #19 closed, assigned to nobody

[2022-05-09 16:58] tomaroberts commented on #23
Resolved by #43

[2022-05-09 16:58] #23 closed, assigned to Lucrezia-Cester

[2022-05-10 16:55] tomaroberts commented on #21
@dangerdika @lucy-funnell

Not sure where you guys got to with this, but I made a new branch called `roadmap` where I started fiddling with this. The existing code for the Roadmap section is pretty complicated from a quick look. The .scss and Liquid code are quite involved. It's actually pretty cool how it's implemented. ANYWAY, I think we had in mind doing the Roadmap horizontally, but given the

[2022-05-10 18:39] lucy-funnell commented on #21
Oh wow! Yes I started some content, I have attached it as a document to this email but I would be more than happy to have a go at writing it up on the GitHub website pages

[2022-05-13 11:18] tomaroberts commented on #25
To start with, let's put in:
- KCL
- UCL
- Brainminer
- AI Centre
- Nvidia
- Answer Digital

[2022-05-13 12:43] #6 closed, assigned to heyhaleema

[2022-05-16 17:36] tomaroberts commented on #34
Future reminder: I have been playing around with .active/.hover CSS elements in the Handbook branch and think there might be some CSS conflicts prevent links from 'appearing' active. This might also be an issue with the nav/subnav hyperlinks as well.

[2022-05-16 17:40] tomaroberts commented on #10
Started this in branch `handbook`. Currently looks like this:

<img width="1162" alt="image" src="https://user-images.githubusercontent.com/15610752/168650974-aaff97c9-5c68-4879-9b27-b1418a94d621.png">

Implements [ScrollSpy](https://getbootstrap.com/docs/5.2/components/scrollspy/) where the left-hand contents box moves as you scroll.

I've put in a few initial sections, but this is intended to be

[2022-05-17 11:05] tomaroberts commented on #17
Imported content from Resources page on old site in commit [5d6dfb](https://github.com/GSTT-CSC/csc-test-site/commit/5d6dfbae8ca4c5e0fc61f8c5b7f5ca6cc13bf8d4).

Content needs refreshing, but for purposes of MVP this is done.

[2022-05-17 11:05] #17 closed, assigned to simoambr

[2022-05-17 11:05] tomaroberts opened #45 "Update content on Resources page"
The content on the Resources page hasn't been updated for a while and needs refreshing.

[2022-05-17 15:38] tomaroberts commented on #22
PR #41 merged today, but this issue still needs unticked items in original comment and:
- [ ] finalised copy in What We Do section

[2022-05-17 15:40] tomaroberts commented on #16
Made a significant start on this – see PR #47

nb: have merged into `gh-pages` branch already, but Projects Board is still incomplete.

**TODO:**
- [x] Create Project pages layout
- [x] Add in placeholder text for section when zero projects occupy that section. e.g.: "No projects with this status."
- [ ] Add images to all projects
- [ ] Update ALL projects, specifically the `.md` files in `_projec

[2022-05-19 15:50] tomaroberts commented on #40
Resolved in https://github.com/GSTT-CSC/csc-test-site/commit/bd4dde119b6daeae5815809d05e061f984b1727c

[2022-05-19 15:50] #40 closed, assigned to nobody

[2022-05-19 15:54] tomaroberts commented on #37
This expands upon issue #32, specifically the Get Involved section.

[2022-05-27 10:58] heyhaleema commented on #32
@hshuaib90 For the Fellowships section, should we link to or match [this page](https://www.aicentre.co.uk/fellowships)?

[2022-05-27 11:05] hshuaib90 commented on #32
I think link for now but create an issue that our page needs to be fleshed out

[2022-05-27 12:52] heyhaleema opened #56 "Enhance content on People > Fellowships page"
Aside from link to AI Centre page [here](https://www.aicentre.co.uk/fellowships), add more content to People > Fellowships page, including other information specific to CSC, if any.

[2022-06-06 15:55] tomaroberts commented on #21
PR #46 implements the Roadmap. Content still needs finalising.

[2022-06-06 15:55] #21 closed, assigned to dangerdika

[2022-06-06 15:56] tomaroberts opened #59 "Finalise Roadmap content"
The structure of the Roadmap page is complete and Lucy has started entering the milestones and associated content.

We just need to decide exactly which milestones we want.

[2022-06-10 13:40] lucy-funnell opened #60 "Project Submission Form"
Upload the latest submission form to the Our Work Page and CSC Handbook Page.
Initially his will be a like to the form which people can complete and email to the CSC email account
(LF_Note to self: Save copy in Asset Folder)

[2022-06-20 12:20] tomaroberts commented on #16
Closing this – not 100% complete, but plenty enough for MVP.

[2022-06-20 12:20] #16 closed, assigned to laurencejackson, lucy-funnell

[2022-06-20 12:20] tomaroberts commented on #2
Current implementation works well – Issue is gold-plating.

[2022-06-20 12:20] #2 closed, assigned to nobody

[2022-06-20 12:21] tomaroberts commented on #4
Nice to have, but gold-plating. Going to close for now.

[2022-06-20 12:21] #4 closed, assigned to nobody

[2022-06-20 12:26] tomaroberts opened #68 "Finalise What We Do text"
The What We Do section on the homepage needs meaningful text quickly conveying what we do in CSC.

[2022-06-20 12:27] tomaroberts commented on #22
Current state good enough for MVP. This issue superseded by #68.

[2022-06-20 12:27] #22 closed, assigned to tomaroberts

[2022-06-20 12:35] tomaroberts commented on #26
Btw – the latest advice on this is to ensure your `_config.yml` has:

`theme: jekyll-agency`

This should be sufficient to run the website on localhost.

Other issues are likely related to ruby/package problems. In this case, let me know and I'll have a look with you.

[2022-06-20 12:38] tomaroberts opened #69 "Verify accuracy of content in Get Involved page"
Related to Issues: #32 and #37

The Get Involved section is empty. From previous Issue:

- **Get Involved**
  - Detail ways of working with us:
    - Internships
    - Secondments
    - STP Elective
    - Outreach / Taster days
    - Something broader to interest people who might want to work for CSC

[2022-06-20 12:38] tomaroberts commented on #32
Superseded by #69

[2022-06-20 12:38] #32 closed, assigned to hshuaib90, dangerdika

[2022-06-20 12:41] tomaroberts commented on #24
Think this is not required anymore – clarification from Haris was to have future looking Roadmap. Current Roadmap should be renamed Milestones because it is backwards looking.

[2022-06-20 12:41] #24 closed, assigned to Lucrezia-Cester

[2022-06-20 12:43] tomaroberts commented on #59
Haris made good point. Current Roadmap page is more like "Milestones" page. Roadmap should be forward looking. We should rename Roadmap > Milestones and then have an actual Roadmap where we look forward to illustrate what CSC is working on.

[2022-06-20 12:46] tomaroberts commented on #10
The Handbook will grow and grow as we go forward. For MVP, we need barebones amount of sections. Feel free to choose whatever you think are essential sections to have!

[2022-06-20 16:40] heyhaleema opened #71 "Include contact forms"
It would be good to include [contact forms](https://getbootstrap.com/docs/5.2/forms/overview/) (particularly in the Get Involved and XNAT pages), but we will need to use something like [Formspree](https://formspree.io/), [Formkeep](https://formkeep.com/guides/contact-form-jekyll), [Formspark](https://formspark.io/), etc. to collect the submission data and have it emailed to, for example, the CSC t

[2022-06-21 12:55] heyhaleema commented on #69
@AnilMistry I've just added a few commits to the `update-getinvolved` branch and so once we're happy with our changes, we can go ahead and raise a PR to close both this issue and #60.

[2022-06-22 17:34] tomaroberts commented on #10
I'm going to close this issue for the purposes of MVP. It will grow and grow, but we have a really great start now – see #76

[2022-06-22 17:34] #10 closed, assigned to laurencejackson, lucy-funnell

[2022-06-23 12:17] heyhaleema opened #80 "Platform names in browser tab not formatted correctly"
The names of the platforms are formatted incorrectly in the browser tabs, e.g. "Mlops" should be "MLOps", "Aide" should be "AIDE", etc.

![image](https://user-images.githubusercontent.com/67117138/175296004-db32ac63-98b3-4f5a-b031-faf2476356d7.png)

We can manually correct this in the relevant HTML file, e.g. _site/platforms/aide.html, but it gets reset each time the site is built.

![image](https

[2022-06-23 13:23] heyhaleema commented on #56
Hi @alexandertdeng, tagging you in case you had any thoughts on what could/should go on this page.

[2022-06-23 19:35] tomaroberts commented on #68
@hshuaib90 – when you're bored and want to bash out a few 100 words. Not sure if you can build the site locally, so here's a screenshot of it currently:

![image](https://user-images.githubusercontent.com/15610752/175382548-7410d90f-c22b-4712-83a3-acf95f836883.png)

The text is effectively placeholder so feel free to scrap. The .yml file containing text is here: https://github.com/GSTT-CSC/csc-tes

[2022-06-23 19:36] tomaroberts commented on #80
Dang... eagle eyes

[2022-06-24 13:00] dangerdika opened #84 "'our work' tab should be renamed to 'projects'"
The current 'our work' tab contains _projects_, _resources_ and _roadmap_ .

Roadmap is actually in About Us and redirects there.

My argument is that resources should be in the handbook (because those are resources for us) and the tab should just be called 'projects' - it's the most interesting part, and separating people, platforms and policy away from 'our work' to me implies that we are part o

[2022-06-24 16:40] tomaroberts commented on #84
This is a bug – easy to fix.

Agree with the wider sentiment. The Projects board is really important too, so deserving of its own tab I reckon.

[2022-06-27 11:50] laurencejackson commented on #84
I agree with what @dangerdika says here, since the content under people, platforms, and policy are all actually "our work". Having the resources under the same tab as the handbook makes sense to me too.

[2022-06-27 12:12] heyhaleema commented on #45
Suggested additions:

- [NSHCS Scientist Training Programme (STP)](https://nshcs.hee.nhs.uk/programmes/stp/)
- [Public NHS Jobs site](https://www.jobs.nhs.uk/)
- [NHS Data Model and Dictionary for England](https://www.datadictionary.nhs.uk/)
- [NHS Python Community for Healthcare](https://nhs-pycom.net/)
- [DevDocs](https://devdocs.io/)
- [DataCamp](https://www.datacamp.com/)

I also suggest we ke

[2022-06-27 16:05] laurencejackson opened #86 "Interim AIDE and FLIP logos"
As discussed in #81 we should put together some interim AIDE/FLIP logos. I'm creating a new issue for this so everyone can weigh in outside the context of #81.

I've put together the two below as a starting point, could people let me know if they think these are along the right lines, or if they have any comments, or if I should try something else?

![image](https://user-images.githubusercontent.c

[2022-06-27 16:15] #45 closed, assigned to laurencejackson, heyhaleema

[2022-06-27 16:18] tomaroberts commented on #1
Partially resolved by #81

[2022-06-27 16:23] tomaroberts commented on #26
No reports of problems running site locally for while. Keep issue open until go-live.

[2022-06-27 16:40] #60 closed, assigned to heyhaleema, lucy-funnell

[2022-06-27 16:41] tomaroberts commented on #69
Structure and content done – just need to verify content is accurate.

[2022-06-27 16:45] heyhaleema commented on #86
I really like these, they look super clean. The only thing that comes to mind for potential change is could we have different colours for each of the right-hand bars in the FLIP logo, e.g. not just green?

[2022-06-27 16:55] laurencejackson commented on #86
Thanks Haleema, tried adding some colours and made the lines a bit less chunky.

![image](https://user-images.githubusercontent.com/33687657/175994670-d0b0c0fa-2ce0-4a6e-8a89-7ce23202c900.png)

[2022-06-27 17:04] laurencejackson commented on #86
and for AIDE too to keep the theme

![image](https://user-images.githubusercontent.com/33687657/175996457-31d9a5e6-2505-4464-ae37-6b93072db442.png)

[2022-06-27 17:08] tomaroberts commented on #86
Right hand ones are my faves!

[2022-06-27 17:11] tomaroberts opened #89 "Fix Platform Landscape Wheel interactivity"
This relates to #64 – the Landscape wheel has clickable areas which take you to the individual Platform pages. Currently the clickable areas are in the wrong places and need fixing.

[2022-06-27 17:14] tomaroberts commented on #1
Mostly resolved by #64 – bugfix required, transferred to issue #89

[2022-06-27 17:14] #1 closed, assigned to dangerdika, Lucrezia-Cester

[2022-06-27 17:15] tomaroberts commented on #25
Resolved by #75

[2022-06-27 17:15] #25 closed, assigned to Lucrezia-Cester

[2022-06-27 19:16] heyhaleema commented on #86
Right-hand ones are my favourites, too, and I like the less chunky lines.

[2022-06-28 10:36] tomaroberts opened #93 "Add Ryan to Team Member page"
We need to add Ryan to the Team Member section. Need:
- Photo
- Bio

[2022-06-28 11:08] hshuaib90 commented on #86
Great starters. One edit would be to remove "AI deployment engine" from the logo name. AIDE should be generally stylised as AIDE alone. the fact that it stands for AI Deployment Engine is irrelevant from a visual or marketing perspective.

[2022-06-28 11:15] hshuaib90 commented on #86
Additionally, can we use the AI Centre colours ?

[2022-06-28 11:59] laurencejackson commented on #86
Thanks @hshuaib90, removed the subtitles from both and tried AI colours with/without gradient.

![image](https://user-images.githubusercontent.com/33687657/176181342-4f331759-030c-4014-8ff9-15e4608769cb.png)

[2022-06-28 12:27] lloneill commented on #86
so good! have given @laurencejackson brand guidelines 😸

[2022-06-28 12:30] laurencejackson commented on #86
Thanks to @lloneill, added the official colours and fonts and a few new options to post above.

[2022-06-28 12:35] heyhaleema commented on #86
+1 for the bottom row!

[2022-06-28 12:44] laurencejackson commented on #86
Sorry updated again, the bottom row has a different AI centre font - can be put on any of them if its preferred.

[2022-06-28 12:51] AnilMistry commented on #86
Love the very bottom. unintentionally(?) stylised like the UKAS logo
<img width="269" alt="image" src="https://user-images.githubusercontent.com/79843755/176182794-178ee697-bdb2-447d-bf8a-490f49cef589.png">

[2022-06-28 13:50] tomaroberts commented on #86
Niceeeee. I like the logos with gradient colour, and I like the font in the bottom row.

<img width="51" alt="image" src="https://user-images.githubusercontent.com/15610752/176195804-4971afd4-0fce-4dfd-81d3-59635507a664.png">

^^ I am slightly triggered by the different sized gaps between the rings. How does it look with equal gaps? Getting picky...

[2022-06-28 14:20] lloneill commented on #86
we are all triggered by that dw

[2022-06-28 14:51] lloneill commented on #86
Jorge likes the AIDE one and likes general vibe of FLIP but has suggested the FLIP one be star or triangle shaped, he gave this pic as a reference:

![image](https://user-images.githubusercontent.com/106346436/176210268-d4a70493-668d-46eb-ae2b-1c30101eb2a0.jpg)

[2022-06-29 09:28] alexandertdeng commented on #86
Some thoughts on 'legibility'- i.e. how recognisable and clear the logo is under different situations:

- Block colour rather than gradient makes logo more legible
- The rings on the AIDE logo are quite closely spaced- when small it is difficult to resolve different rings

[2022-06-29 09:45] tomaroberts commented on #68
Resolved by #90

[2022-06-29 09:45] #68 closed, assigned to hshuaib90, heyhaleema

[2022-06-29 09:45] tomaroberts commented on #89
Resolved by #92

[2022-06-29 09:45] #89 closed, assigned to Lucrezia-Cester

[2022-06-29 09:55] alexandertdeng commented on #20
#100

[2022-06-29 10:22] tomaroberts commented on #84
Ahh, I've just realised a snag. If we change Our Work > Projects, then the Projects tab will have no subnav entries because the Resources and Roadmap subnav links will be moved under About Us. Thus it will look like this:

![image](https://user-images.githubusercontent.com/15610752/176413871-076fa080-7a07-4dac-9082-938c9e4101ea.png)

Not the end of the world, but looks a little odd/different to re

[2022-06-29 10:27] lucy-funnell commented on #84
In the future we could have 2 Sub tabs: Current, Previous/ Completed

[2022-06-29 10:30] tomaroberts commented on #84
Oh yeah, that's a nice idea. I could change the subnav to say CURRENT PROJECTS:

![image](https://user-images.githubusercontent.com/15610752/176415727-f43db922-3624-412e-bd7f-912f09e043e0.png)

Then we add COMPLETED in the future?

[2022-06-29 10:54] lucy-funnell commented on #84
I like it!
Completed or Deployed. We could even add the Graveyard tab to project that haven't been successful and share the reasons why... V2.

[2022-06-29 11:09] tomaroberts commented on #56
Resolved by #101

[2022-06-29 11:09] #56 closed, assigned to heyhaleema

[2022-06-29 11:11] tomaroberts commented on #93
Resolved by #94

[2022-06-29 11:11] #93 closed, assigned to rs-sprout98

[2022-06-29 12:24] tomaroberts commented on #84
Resolved by #96

[2022-06-29 12:24] #84 closed, assigned to rs-sprout98

[2022-07-01 08:28] tomaroberts commented on #20
Closing this – going to add Kavitha to a separate Issue. Thanks everyone.

[2022-07-01 08:28] #20 closed, assigned to kavithavaran

[2022-07-01 08:31] tomaroberts opened #102 "Add Kavitha to Team page"
Follow-up from #20

Add Kavitha to Team page and created a bio.

This is already underway in two PRs: https://github.com/GSTT-CSC/csc-test-site/pull/95 and https://github.com/GSTT-CSC/csc-test-site/pull/100.

[2022-07-01 08:52] kavithavaran commented on #102
Hi Tom,

I think I have written my bio and added a picture.

[2022-07-01 13:46] lucy-funnell commented on #102
Hi Tom, I've noticed some of the team members have both their First Name and Surname, while other have just their First Name. Shall we format it, so everyones profile is the same?

[2022-07-01 16:13] tomaroberts commented on #102
@lucy-funnell – good spot. Agree.

[2022-07-01 16:13] tomaroberts commented on #102
Resolved by #104

[2022-07-01 16:13] #102 closed, assigned to kavithavaran

[2022-07-01 16:13] tomaroberts commented on #59
Resolved by #106

[2022-07-01 16:13] #59 closed, assigned to nobody

[2022-07-01 16:14] tomaroberts commented on #33
Partially completed by #98

[2022-07-01 16:15] tomaroberts commented on #26
Resolved... turns out you don't need `theme: ` in the `_config.yml`...

[2022-07-01 16:15] #26 closed, assigned to tomaroberts

[2022-07-04 08:25] AnilMistry opened #107 "Add Isabellas blog post"
Add isabellas blog post on her STP short rotation with the CSC.
We have the blog and a photo, but we're awaiting a headshot for author profile.

[2022-07-04 08:45] AnilMistry opened #108 "Add "recent blog posts" code snippet"
As we're intending to post more blogs as updates to what we're doing. It would be great to be able to easily link each page to relevant blog posts.

- Create a HTML code snippet for displaying the 4 most recent blog posts of a certain category.
- All blog posts should also be labelled with at least one category. these could include
  - Quality mansgement system
  - 10X Workshops
  - STP blog
  - A

[2022-07-05 09:22] tomaroberts opened #109 "Optimize website for mobile"
WIP – currently fixing various aspects for mobile.

Reminder to Tom: add short explanation of Bootstrap responsiveness to README for future users: `col-md-6` etc.

[2022-07-05 09:24] tomaroberts opened #110 "Automatically archive old calendar events"
Ported from here: https://github.com/GSTT-CSC/gstt-csc-old/issues/88

[2022-07-05 09:28] tomaroberts opened #111 "Add PyCharm Professional download reminder for new starters"
From here: https://github.com/GSTT-CSC/gstt-csc-old/issues/95

Suggest adding to Onboarding section in Handbook page

[2022-07-05 13:24] AnilMistry opened #112 ""Meet the TEam" should dsiplay First + Second names"
Some people dont have their full names displayed on the Meet the Team section of the website.

[2022-07-06 03:36] rohitroy-github commented on #112
I have submitted a pull request for this very issue.

[2022-07-06 09:12] dangerdika opened #115 "Add SOPs and Guides to the Handbook"
Migrate the old (and new!) write ups of SOPs so they're accessible on the website

[2022-07-08 16:49] AnilMistry opened #117 "Add badges for the QMS on the Policy>build page"
When Scarlet Comply are certified as a Notified Body by BSI, add the registration number to the Scarlet badge and display it in in the build page of the policy section

[2022-07-09 14:56] tomaroberts commented on #109
Various commits. Done.

[2022-07-09 14:56] #109 closed, assigned to nobody

[2022-07-11 17:14] #107 closed, assigned to AnilMistry

[2022-07-12 19:16] hshuaib90 opened #120 "Add more STP information"
There's lots of new information available about the curriculum and information for trainers, which I think would be useful to add.

[2022-07-18 09:25] Lucrezia-Cester opened #123 "add some of these MONAI events to website"
MONAI for Pathology:

MONAI for Pathology YouTube Video: [https://www.youtube.com/watch?v=Jy5VTqX4_jo](https://scanmail.trustwave.com/?c=8248&d=ipDP4iL033btVeLgv_uL2cBZv6O3dR5dg4rj02Zqnw&u=https%3a%2f%2fwww%2eyoutube%2ecom%2fwatch%3fv%3dJy5VTqX4%5fjo)

MONAI for Pathology Visions Poster: [https://docs.google.com/presentation/d/1nE1NnNynsb-ukaH_EL9hdrRm-BrW5d8r/edit?usp=sharing&ouid=111588075212775

[2022-07-22 10:07] hshuaib90 opened #126 "Add room booking info to handbook"
<img width="1017" alt="image" src="https://user-images.githubusercontent.com/19840489/180417012-0b22e50f-3d0b-4f32-93e7-cade4a977f5d.png">

[2022-07-26 20:54] #120 closed, assigned to nobody

[2022-07-27 01:56] rohitroy-github commented on #112
Can someone review my PR !

[2022-08-05 09:27] #112 closed, assigned to lucy-funnell

[2022-08-05 09:29] tomaroberts commented on #86
@laurencejackson

I think we have finalised images now? Can we close this? Can you add replace the images on the website with the latest ones please.

[2022-08-05 09:39] #5 closed, assigned to nobody

[2022-08-05 11:23] #86 closed, assigned to nobody

[2022-08-09 09:47] hshuaib90 opened #130 "Add NICE ESF"
Need to include NICE Evidence Standards Framework into the reading list:
https://www.nice.org.uk/about/what-we-do/our-programmes/evidence-standards-framework-for-digital-health-technologies

Also, we should incorporate this into appropriate processes around development and evaluation.

[2022-08-13 19:23] hshuaib90 opened #131 "reading list"
On the previous version of the website there used to be a reading list, this seems to be missing now. Can we add this back in or was there a reason it was dropped @tomaroberts ?

In the meantime, I'll compile a readlng list here:
- https://future.com/emerging-architectures-modern-data-infrastructure/
- https://machinelearningmastery.com/the-model-performance-mismatch-problem/
- https://chsasank.co

[2022-08-13 23:21] hshuaib90 opened #132 "communities"
There should be a communities page , which should contain links to forums, blogs, mailing lists, newsletters etc. that are deemed to be useful. I'll start compiling a list here:

- IPEM https://my.community.ipem.ac.uk (particularly Clinical Scientific Computing
- OpenRegulatory https://openregulatory.com/community/
- Increment https://increment.com/issues/
- Shreya Shankar blog https://www.shreya-

[2022-08-15 09:07] laurencejackson commented on #132
- [MONAI community](https://monai.io/community.html), and [MONAI blog](https://monai.medium.com/)

[2022-08-15 13:25] tomaroberts commented on #131
No reason for drop – must've been an oversight.

Separate page under About Us or section in Handbook?

[2022-08-15 13:26] hshuaib90 commented on #131
It was at the same level as 'Resources' before. Although I think both belong in the handbook (at least in terms of link/reference and the page can be separate).

[2022-08-23 15:48] hshuaib90 opened #134 "add travel booking info for clarity"

[2022-09-09 10:01] hshuaib90 opened #137 "upload sample CSC STP training plan"

[2022-09-29 14:52] Lucrezia-Cester commented on #110
Jekyll is a static site so this will be slightly tricky but I'll see if there is any way to get this done

[2022-10-03 16:10] Lucrezia-Cester commented on #137
is this https://emckclac.sharepoint.com/:x:/r/sites/MT-CSC-CSC/_layouts/15/Doc.aspx?sourcedoc=%7BDF86E29B-0D70-4702-9260-7A20F5836B97%7D&file=3.%20STP%20Training%20plan%20CSC%202022.xlsx&action=default&mobileredirect=true
the training plan to be uploaded?

[2022-10-03 16:44] dangerdika commented on #132
@Lucrezia-Cester can you add Monai community & blog too?

[2022-10-03 17:00] #131 closed, assigned to Lucrezia-Cester

[2022-10-04 13:04] #134 closed, assigned to Lucrezia-Cester

[2022-10-04 14:09] Lucrezia-Cester commented on #126
This link returns a Forbidden request

[2022-10-24 11:28] hshuaib90 commented on #137
Yes exactly

[2022-10-24 14:26] Lucrezia-Cester opened #144 "add how to get citrix and get access to ELectronic Staff Record"

[2022-10-25 12:04] #132 closed, assigned to Lucrezia-Cester

[2022-10-25 12:04] #130 closed, assigned to Lucrezia-Cester

[2022-10-25 12:20] Lucrezia-Cester opened #146 "add how to book a desk 10th floor york road"
to be added to onboarding

[2022-10-25 12:26] hshuaib90 commented on #146
there's no booking system anymore, it is fist come first served, It would be good to add it as a hot design location though. Access is granted from the security desk at York Road after they receive an email from line manager

[2022-11-08 21:29] hshuaib90 commented on #146
Completed #147

[2022-11-08 21:29] #146 closed, assigned to Lucrezia-Cester

[2022-11-08 21:30] hshuaib90 commented on #144
Closed in #145

[2022-11-08 21:30] #144 closed, assigned to Lucrezia-Cester

[2022-11-08 21:38] #126 closed, assigned to nobody

[2022-11-29 19:27] dangerdika opened #151 "Updates needed to staff page and calendar page"
Lucy Funnell needs to be removed and the calendar needs to be updated

[2022-11-30 16:19] dangerdika opened #152 "Create a CSC hackathon planning kit"
Please add your feedback regarding how the hackathon was run, how it was organised and how it should be done. The end result of this issue will be a practical planning kit that we can put on the website and follow for future hackathons.

[2022-11-30 16:20] dangerdika commented on #152
@GSTT-CSC/core

[2022-11-30 16:21] dangerdika opened #153 "Projects on website to reflect hackathon stages after CSC hackathon planning kit is finalised"